<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/javascripts/html2canvas.min.js"></script>
  <script src="/javascripts/chance.min.js"></script>
  <script src="/javascripts/jquery-3.4.1.min.js"></script>
  <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
</head>

<body>
  <div class="content">
    <img src="/images/ironman.jpg" alt="AnhTuanIT" style="width: auto; height: auto;">
    <button id="start-btn">Click</button>
  </div>
  <script src="/javascripts/thanos-magic.js"></script>
</body>

</html>